*{
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}


.dropdown-item-danger:hover,
.dropdown-item-danger:focus {
  color: #fff;
  background-color: var(--bs-red);
}



footer{ 
  /*  poner footer abajo */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}