*{
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.my-custom-scrollbar {
  position: relative;
  height: 370px;
  overflow: auto;
  }

.my-custom-scrollbar-resumen {
  position: relative;
  height: 750px;
  overflow: auto;
  }

.table-wrapper-scroll-y {
  display: block;
}

.dropdown-item:hover, .dropdown-item:active  {
  background-color:#256e383f  !important;
}


footer{ 
  /*  poner footer abajo */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}